{% extends 'app/base.html' %}
{% load static %}
{% block title %} Category {% endblock title %}
{% block main-content %}

{% comment %} <h1>Category : {{product}}</h1> {% endcomment %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
           <div class="list-group">
            {% for t in title  %}
                <a href="{% url 'category-title' t.title%}" class="list-group-item  list-group-item-actions" aria-current="true"> {{t.title}}</a>
            {% endfor %}
           </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                {% for p in product  %}
                    <div class="col text-center mb-4">
                        <a href="{% url 'product-detail' p.id %}" class="btn">
                            <div>
                                <img src="{{p.product_image.url}}" width="300px" height="200px" alt="">
                                <div class="fw-bold">{{p.title}}</div>
                                <div class="fw-bold text-danger">
                                    Rs.{{p.discounted_price}}/-
                                    <small class="fw-light text-decoration-line-through">
                                        {{p.selling_price}}
                                    </small>
                                </div>
                            </div>
                        </a>
                    </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}


